<div class="col-lg-4">

    <div class="card dashboard-card shadow-sm border-0 rounded-4 h-100">

        <div class="card-body">

            <h4 class="fw-bold mb-1">

                Expense Categories

            </h4>

            <small class="text-muted">

                Expense distribution

            </small>

            <canvas
                id="expenseCategoryChart"
                class="mt-4"
                height="260">
            </canvas>

        </div>

    </div>

</div>