<div class="col-lg-6 mb-4">

    <div class="card shadow-sm border-0 rounded-4 h-100">

        <div class="card-header bg-white border-0">

            <div class="d-flex justify-content-between align-items-center">

                <h5 class="fw-bold mb-0">

                    {{ title }}

                </h5>

                {% if button %}

                <button class="btn btn-sm btn-outline-primary">

                    {{ button }}

                </button>

                {% endif %}

            </div>

        </div>

        <div class="card-body">

            {{ caller() }}

        </div>

    </div>

</div>