<div class="col-xl-2 col-lg-4 col-md-6">

    <div class="card stat-card shadow-sm border-0">

        <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">

                <div>

                    <small class="text-muted fw-semibold">
                        {{ title }}
                    </small>

                    <h2 class="fw-bold mt-2 mb-2">
                        {{ value }}
                    </h2>

                    <small class="{{ trend_color }}">
                        <i class="bi {{ trend_icon }}"></i>

                        {{ trend }}

                    </small>

                </div>

                <div class="icon-circle">

                    <i class="{{ icon }}"></i>

                </div>

            </div>

        </div>

    </div>

</div>